


.container {

  justify-content: center;
  align-items: center;
  min-height: 750px; /* set the height of the container to the height of the viewport */
  margin-top: 50px;



  border: 3px solid #e60000;
  padding: 10px;

}

.btn {
    width: 150px
}

#firmwareVersion{
    width: 150px
}
.alert {
  position: absolute; /* add position absolute to the alert */
  top: 0; /* set the top position to 0 */
  left: 0; /* set the left position to 0 */
  right: 0; /* set the right position to 0 */
  display: none;

}

/* Set background color to #ffffff */
body {
background-color: #ffffff;
}

/* Set text color to #e60000 */
h1,hr, h2, h3, p {
color: #e60000;
}

/* Set button background color to #e60000 */
.btn-primary {
background-color: #e60000;
}

/* Set button text color to #ffffff */
.btn-primary {
color: #ffffff;
}

/* Set navbar background color to #e60000 */
.navbar {
background-color: #e60000;
}

/* Set navbar text color to #ffffff */
.navbar-nav .nav-link {
color: #ffffff;
}