<!DOCTYPE html>
<html>
<head>
  <title>iPerf Performance Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script>


    $(document).ready(function() {
      $(".dropdown-menu a").click(function(){
        var value = $(this).text();
        var button = $(this).closest(".dropdown").find(".dropdown-toggle");
        button.attr("data-selected-value", value);
        button.text(value);
      });
    });
    $(document).ready(function() {
      $(".custom-value-1").click(function() {
        $(".custom-input-1").show();
      });
      $("#dd1 a:not('.custom-value-1')").click(function() {
          $(".custom-input-1").hide();
        });
    });


    $(document).ready(function() {
      $(".custom-value-2").click(function() {
        $(".custom-input-2").show();
      });
      $("#dd2 a:not('.custom-value-2')").click(function() {
          $(".custom-input-2").hide();
        });
    });

    $(document).ready(function() {
      $(".custom-value-3").click(function() {
        $(".custom-input-3").show();
      });
      $("#dd3 a:not('.custom-value-3')").click(function() {
          $(".custom-input-3").hide();
        });
    });

    setTimeout(function() {
    $(".alert").alert("close");
  }, 5000);
  </script>

</head>
<body>
  <div class="container">

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-12 text-center">
        <h1>iPerf Performance Tool</h1>
      </div>


    </div>
    <hr>




    <div class="row mb-12 text-center">
      <div class="col-md-6">
        <h3 >Model Name  :</h3>
      </div>
      <div class="col-md-6">
        <div class="dropdown float-start">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="dropdown-text">Select Model</span>
          </button>
          <ul class="dropdown-menu" id="dd1" aria-labelledby="dropdown1">
            <li><a class="dropdown-item" href="#">CGA6444VF2</a></li>
            <li><a class="dropdown-item" href="#">CGA6444VF</a></li>
            <li><a class="dropdown-item" href="#">TG6442VF</a></li>
            <li><a class="dropdown-item" href="#">AVM 6690</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item custom-value-1" href="#">Custom Name</a></li>
          </ul>
        </div>



        <div class="custom-input-1 float-start mx-3" style="display:none;">
          <input type="text" class="form-control" placeholder="Enter custom value">
        </div>
      </div>

    </div>
      <div class="row mb-12 my-5 text-center">
          <div class="col-md-6">
            <h3>Mode :</h3>
          </div>
          <div class="col-md-6">
            <div class="dropdown float-start">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="dropdown-text2">Select Mode</span>

              </button>
              <ul class="dropdown-menu" id="dd2" aria-labelledby="dropdown2">
                <li><a class="dropdown-item" href="#">DSlite</a></li>
                <li><a class="dropdown-item" href="#">DualStack</a></li>
                <li><a class="dropdown-item" href="#">IPv4</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item custom-value-2" href="#">Custom Model</a></li>
              </ul>
            </div>

            <div class="custom-input-2 float-start mx-3" style="display:none;">
              <input type="text" class="form-control" placeholder="Enter custom value">
            </div>
          </div>

      </div>
      <div class="row mb-12 my-5 text-center">
          <div class="col-md-6">
            <h3>Duration :</h3>
          </div>
          <div class="col-md-6">

            <div class="dropdown float-start">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="dropdown-text3">Select Duration</span>

              </button>
              <ul class="dropdown-menu" id="dd3" aria-labelledby="dropdown2">
                <li><a class="dropdown-item" href="#">1 hour</a></li>
                <li><a class="dropdown-item" href="#">60 hours</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item custom-value-3" href="#">Custom Duration</a></li>
              </ul>
            </div>

            <div class="custom-input-3 float-start mx-3" style="display:none;">
              <input type="text" class="form-control" placeholder="Enter custom value">
            </div>



          </div>




      </div>
      <div class="row mb-12 my-5 text-center">
          <div class="col-md-6">
            <h3>Firmware Version :</h3>
          </div>
          <div class="col-md-6">



          <input type="text" class="form-control" id="firmwareVersion" placeholder="Enter text">

          </div>

      </div>






      </div>





        <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        <strong>Important message!</strong> Custom Duration is configurable in the next page!.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </div>

</body>
</html>